/* h1 {
    background-color: red;
    color: white;
    text-align: center;
} */

/* * {
    color: red;
    background-color: black;
} */

/* h1, h2, p {
    background-color: red;
} */

/* p {
    background-color: yellow;
} */

/* .abc {
    background-color: red;
}

#abc {
    background-color: purple;
} */
/* ul > li {
    background-color: red;
} */

/* p a {
    color: green;
} */


h1~p {
    background-color: rebeccapurple;
}