* {
    font-size: xx-large;
}

#parent {
    background-color: black;
    color: white;
    text-align: justify;
    padding: 20px 20px;
    width: 50%;
    margin: auto;
    margin-top: 100px;
    border: 10px groove violet;
    box-shadow: 0px 0px 70px yellow;

    /* border-left: 10px solid yellow;
    border-right: 20px groove aqua;
    border-bottom-right-radius: 30px; */

    /* border-radius: 20px 30px 40px 70px; */


    /* border-color: yellow;
    border-width: 20px;
    border-style: solid; */

    /* height: 400px; */
    /* overflow: scroll; */
    /* margin: 50px; */
    /* padding-left: 2%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 5%; */
}